# These files are regularly auto-updated, but they should not be ignored:
# **/project.pbxproj
# **/settings.gradle.kts
# **/build.gradle.kts

# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
**/firepit-log.txt
**/pglite-debug.log

# Diagrams, produced by https://pub.dev/packages/layerlens.
DEPS.md

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
**/pubspec.lock
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.*
**/generated_plugin_registrant.*
**/Podfile
**/Podfile.lock
**/Runner-Bridging-Header.h
**/contents.xcworkspacedata

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release

# Firebase
**/google-services.json
**/lib/firebase_options.dart
**/firebase.json
**/GoogleService-Info.plist
**/.firebase
**/.firebaserc
